.grandfather {
  display: flex;
  flex-direction: column;
  height: 100%;
  clear: both;
  position: relative;
  background: purple;
}
.father {
  display: flex;
  flex-direction: row;
  height: calc(100% - 64px);
}

.otherCtn {
  flex: 1 0 auto;
}
.spacingSidebarContent {
  background: transparent;
  min-width: 280px;
  position: relative;
  min-width: 80px;
}

.itemCtn {
  display: flex;
  align-items: center;
  &.active {
    .customItem {
      background-color: #41331c;
      .svg {
        color: #e8eaed;
      }
    }
  }
  &:hover {
    .customItem {
      margin-left: 0px;
      .svg {
        width: 24px;
        height: 24px;
      }
    }
    .customSpan {
      margin-left: 22px;
    }
  }
  .customItem {
    border-radius: 50%;
    margin-left: 6px;
    width: 48px;
    transition-duration: 150ms;
    transition-property: margin, width, padding, border-radius;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 48px;
    min-width: 48px;
    overflow: hidden;
    display: grid;
    place-content: center;
    color: #9aa0a6;
  }
  .svg {
    color: #9aa0a6;
    transition-duration: 50ms;
    transition-property: width, height;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    height: 22px;
    width: 22px;
    overflow: visible;
    box-sizing: content-box;
  }
  .customSpan {
    transition: all 3s;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 26px;
  }
}

.copyright {
  flex: 0 0 auto;
  margin-bottom: 12px;
  margin-top: 20px;
  padding: 4px 0 6px 24px;
}
.copyrightText {
  color: #9aa0a6;
  cursor: pointer;
  font-size: 12px;
  padding: 2px 5px;
  text-decoration: none;
  white-space: nowrap;
  &:hover {
    color: #e8eaed;
  }
}

.mainWrapper {
  min-width: 0;
  width: 100%;
}

.listWrapper {
  margin: 0 auto;
  width: 1744px;
}
.snippetCtn {
  height: 132px;
}
